span.fix-dialog-content-container {
  white-space: pre-wrap;
}

span.fix-dialog-content-container > ul {
  margin: 0;
  white-space: normal;
}

.fix-dialog-container.MuiPaper-root {
  max-width: 444px;
}

a.fix-dialog-content-external-link {
  display: inline-flex;
  align-items: center;
  margin-left: 1rem;
}
