$purple: #8e24aa;
$light-grey: #ededed;
$grey-700: #616161;
$border: #0000003b;

$text-primary: #ffffff;

:root {
  --mdai-spacing-unit: 8px;

  --mdai-purple: #{$purple};
  --mdai-light-grey: #{$light-grey};
  --mdai-grey-700: #{$grey-700};
  --mdai-border: #{$border};

  --mdai-text-primary: #{$text-primary};
}

@function spacing($multiplier: 1) {
  @return calc(var(--mdai-spacing-unit) * #{$multiplier});
}
