.meta-container.MuiBox-root {
  --meta-x-side-padding: calc(var(--mdai-spacing-unit) * 3);
  --meta-y-side-padding: calc(var(--mdai-spacing-unit) * 5);
  --layout-max-height: calc(100% - calc(var(--meta-y-side-padding) * 2));

  min-height: calc(620px + calc(var(--meta-y-side-padding) * 2));
  max-width: calc(1200px + calc(var(--meta-x-side-padding) * 2));
  margin-left: auto;
  margin-right: auto;
  padding: var(--meta-y-side-padding) var(--meta-x-side-padding);
  overflow: hidden;
  height: 100%;
}

.layout-container.MuiPaper-root {
  border-radius: var(--meta-x-side-padding);
  padding: var(--meta-y-side-padding) var(--meta-x-side-padding);
  min-height: 620px;
  border: 1px solid #cfcfd4;
  height: max(100%, var(--layout-max-height));
  overflow: hidden;
}

.column-container.MuiBox-root {
  display: grid;
  gap: calc(var(--mdai-spacing-unit) * 3);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100%;
  align-items: flex-start;
  max-height: 100%;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.column-container.MuiBox-root > .left-column {
  grid-column: 1 / span 3;
}
.column-container.MuiBox-root > .right-column {
  grid-column: 9 / span 4;
}
