.meta-container.MuiBox-root {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: calc(var(--mdai-spacing-unit) * 5) calc(var(--mdai-spacing-unit) * 3);
}

.layout-container.MuiPaper-root {
  border-radius: calc(var(--mdai-spacing-unit) * 3);
  padding: calc(var(--mdai-spacing-unit) * 5) calc(var(--mdai-spacing-unit) * 3);
  min-height: 620px;
  border: 1px solid #cfcfd4;
  height: 100%;
}

.column-container.MuiBox-root {
  display: grid;
  gap: calc(var(--mdai-spacing-unit) * 3);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}
