.main-content-container.MuiBox-root {
  padding: calc(var(--mdai-spacing-unit) * 2);
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  align-items: flex-start;
  gap: calc(var(--mdai-spacing-unit) * 2);
  height: 100%;
  overflow: auto;
}

.main-content-container.MuiBox-root > .left-column.MuiStack-root {
  grid-column: span 8;
}

.main-content-container.MuiBox-root > .right-column.MuiStack-root {
  grid-column: span 4;
}

.clarity-timepicker {
  width: 340px;
}

.main-content-container.MuiBox-root
  > .no-connection-card-container.MuiCard-root {
  grid-column: 4 / span 6;
  margin-top: 126px;
}
