.main-content-container.MuiBox-root {
  padding: calc(var(--mdai-spacing-unit) * 2);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: calc(var(--mdai-spacing-unit) * 2);
  height: 100%;
  overflow: auto;
}

.main-content-container.MuiBox-root > .left-column.MuiStack-root {
  width: 774px;
}

.main-content-container.MuiBox-root > .right-column.MuiStack-root {
  width: 326px;
}
