.data-fidelity-card.MuiCard-root {
  width: calc(100% - 2px);
  border: 1px solid rgba(0, 0, 0, 0.42);
  box-shadow: none;
  font-size: 14px;
}

.data-fidelity-card-header.MuiCardHeader-root {
  padding: calc(var(--mdai-spacing-unit) * 2);
  padding-bottom: 0;
}

.data-fidelity-content-row.MuiStack-root {
  padding: var(--mdai-spacing-unit) calc(var(--mdai-spacing-unit) * 2);
}

.data-fidelity-card-content.MuiCardContent-root {
  padding: calc(var(--mdai-spacing-unit) * 2);
  padding-top: 0;
}

.data-fidelity-card-actions.MuiCardActions-root {
  border-top: 1px solid rgba(0, 0, 0, 0.42);
}
