.code-snippet-container {
  display: flex;
  position: relative;
  color: #ffffff;
  border-radius: 8px;
  background: #454545;
  overflow: hidden;
  align-items: flex-start;
  max-height: 100vh;
  min-width: 0;
  padding: var(--mdai-spacing-unit);
}

.code-snippet-content {
  width: 100%;
  max-height: inherit;
  min-width: 0;
  min-height: 0;
  overflow-x: auto;
  overflow-y: auto;
  padding-right: calc(var(--mdai-spacing-unit) * 9);
  scrollbar-width: none;
}

.code-snippet-content:hover {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.45) transparent;
}

.code-snippet-content pre {
  margin: calc(var(--mdai-spacing-unit) * 2);
}

.code-snippet-copy-button {
  position: absolute;
  width: 20px;
  min-height: 30px;
  background: transparent;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.code-snippet-copy-button .MuiTypography-root {
  color: var(--mdai-light-grey);
  white-space: nowrap;
  line-height: 1;
}

.code-snippet-copy-button .MuiSvgIcon-root {
  color: var(--mdai-light-grey);
}
