@use "tokens" as *;

.code-snippet-container {
  position: relative;

  overflow: scroll;
  align-items: flex-start;

  min-width: 0;
  max-height: 100vh;
  padding: spacing();
  border-radius: spacing();

  font-size: 0.75rem;
  color: $text-primary;

  background: #454545;
}

.code-snippet-container .copy-button.MuiIconButton-root {
  position: absolute;
  z-index: 1;
  top: spacing();
  right: spacing();
}

.code-snippet-content {
  scrollbar-width: none;

  overflow: auto;

  width: 100%;
  min-width: 0;
  min-height: 0;
  max-height: 100%;
}

.code-snippet-content:hover {
  scrollbar-color: rgb(255 255 255 / 45%) transparent;
  scrollbar-width: thin;
}

.code-snippet-content pre {
  margin: spacing(2);
}

.code-snippet-copy-button .MuiTypography-root {
  line-height: 1;
  color: $light-grey;
  white-space: nowrap;
}
