.mdai-compact-card-container.MuiCard-root {
  padding: 0;
}

.mdai-compact-card-header.MuiCardHeader-root {
  padding: var(--mdai-spacing-unit) calc(var(--mdai-spacing-unit) * 2);
}

.mdai-compact-card-content.MuiCardContent-root {
  padding: calc(var(--mdai-spacing-unit) * 2);
}

.mdai-compact-card-content.MuiCardActions-root {
  padding: var(--mdai-spacing-unit);
}
