.flow-container-box.MuiBox-root {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: calc(var(--mdai-spacing-unit) * 2) calc(var(--mdai-spacing-unit) * 3)
    calc(var(--mdai-spacing-unit) * 8);
}

.flow-container-paper.MuiPaper-root {
  border-radius: calc(var(--mdai-spacing-unit) * 3);
  padding: calc(var(--mdai-spacing-unit) * 5) calc(var(--mdai-spacing-unit) * 3);
  min-height: 620px;
  border: 1px solid #cfcfd4;
  height: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  gap: calc(var(--mdai-spacing-unit) * 3);
}

.flow-container-paper.MuiPaper-root.splash {
  padding: 0;
}
