.mdai-snackbar.MuiSnackbar-root {
  max-width: min(460px, calc(100vw - calc(var(--mdai-spacing-unit) * 6)));
}

.mdai-snackbar-alert.MuiAlert-root {
  min-width: min(360px, calc(100vw - calc(var(--mdai-spacing-unit) * 6)));
}

.mdai-snackbar-actions .MuiButton-root {
  min-width: max-content;
  padding: 0;
}
