.splash-avatar.MuiAvatar-root {
  border-radius: 100px;
  background: var(--primary-_states-focus, rgba(142, 36, 170, 0.12));
  color: rgba(0, 0, 0, 0.56);
}

.splash-button.MuiButton-root {
  align-self: flex-start;
}

.splash-demo-description.MuiStack-root {
  border: 1px solid #9c27b0;
  border-radius: 8px;
  background: rgba(156, 39, 176, 0.12);
  padding: calc(var(--mdai-spacing-unit) * 2);
}

img.octobuddy-logo {
  height: 30px;
}
