.status-card-label-row.MuiStack-root {
  width: 100%;
}

.status-card-header-cell.mdai-table-header-cell.MuiDataGrid-columnHeader.MuiDataGrid-columnHeader--alignLeft.MuiDataGrid-columnHeader--sortable.MuiDataGrid-withBorderColor {
  border: none;
}

.status-card-value-cell.mdai-table-cell.MuiDataGrid-cell {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.status-card-table.mdai-table-container.MuiPaper-root {
  padding: 0;
}
.status-card-table.mdai-table-container.MuiPaper-root > .MuiCardHeader-root {
  padding: var(--mdai-spacing-unit) calc(var(--mdai-spacing-unit) * 2);
}
.status-card-table.mdai-table-container.MuiPaper-root > .MuiDataGrid-root {
  padding: calc(var(--mdai-spacing-unit) * 2);
}
