.view-content-container.MuiStack-root {
  flex: 3 3 75%;
  min-width: 0;
}

.view-content-main-column.MuiStack-root {
  width: 466px;
  min-width: 0;
  min-height: 0;
}
.view-content-main-column.wide.MuiStack-root {
  width: 661px;
  min-height: 0;
}

.view-content-main-column.MuiStack-root button {
  align-self: flex-start;
  text-transform: none;
}

.view-content-sidebar-column.MuiStack-root {
  flex: 1 1 320px;
  min-width: 0;
  max-width: 420px;
  height: 0;
  min-height: 100%;
}
