.view-title-title.MuiTypography-root {
  /** Should these be fixed at the theme level? */
  font-size: calc(var(--mdai-spacing-unit) * 2.5);
  color: #000;
  font-weight: 500;
}

.view-title-description.MuiTypography-root {
  color: var(--mdai-grey-700);
}
